<div class="container">
  <div>
    <h2 class="header">{{ model }} (ID: {{ ID }})</h2>
    <div>
      <div class="label">
        <label for="">Model:</label>
        <p>{{ model }}</p>
      </div>
      <div class="label">
        <label for="">X:</label>
        <p>{{ x }}</p>
      </div>
      <div class="label">
        <label for="">Y:</label>
        <p>{{ y }}</p>
      </div>
      <div class="label">
        <label for="">Speed:</label>
        <p>{{ speed }}</p>
      </div>
    </div>
  </div>

  <button class="btn" (click)="getClosestCar()">Get Closest Car</button>
  <div class="speed-input">
    <input type="text" id="newSpeed" #newSpeed />
    <button class="btn" (click)="changeSpeed(newSpeed.value)">
      Change Speed
    </button>
  </div>

  <select name="events" [formControl]="eventToSend">
    @for (event of encounteredEvents; track event) {
      <option [value]="event">{{ event }}</option>
    }
  </select>
  <select name="" id="" [formControl]="carToSend">
    @for (car of getCars(); track car) {
      <option [value]="car.ID">{{ car.model }} {{ car.ID }}</option>
    }
  </select>
  <button class="btn" (click)="sendEvent()">Send Event</button>

  @if (receivedEvents.length != 0) {
    <h2 class="header">Received Events:</h2>
    @for (event of receivedEvents; track event) {
      <p class="label">From CarID:{{ event.from }} {{ event.event }}</p>
    }
  }
</div>
